<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Story 06</title>

  </head>
  <body>
    <h1 align="center"> Hello apa kabar? </h1>

    <br>
    <section name="input-list" id="input-list">
      <div class="container">
        <form id="form" method="POST" action="{% url 'add_status' %}">
            <h2>Input Status</h2>
            {% csrf_token %}
            {{ form06 }}
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
            <br>
        </form>
      </div>
    </section>

    {% block content %}
   <!--  Populate semua isi pesan dari model -->
   <table class="table">
       <thead>
           <th>Date</th>
           <th>Status</th>
       </thead>
       <tbody>
           {% for i in output %}
           <tr>
               <td> {{i.created_date}} </td>
               <td> {{i.status}} </td>
           </tr>
           {% endfor %}
       </tbody>
   </table>
   {% endblock %}

   <a href="profile"> Profile </a>

  </body>
</html>
